<div class="row" style="text-align: center;">
  <mat-card class="col-md-6 offset-3" style="text-align: center;display: inline-block;margin-top: 30px">
    <h4 class="text-center">Changez votre mot de passe</h4>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
      <mat-error *ngIf="error==''">{{error}}</mat-error>
      <div style="text-align: center">
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe actuel</mat-label>
          <input matInput placeholder="Mot de passe actuel" formControlName="password" type="password">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="submitted && userForm.controls.password.errors">
            <mat-error *ngIf="userForm.controls.password.errors.minlength">Mot de passe <strong>court</strong></mat-error>
            <mat-error *ngIf="userForm.controls.password.errors.required">Ce champs est <strong>requis</strong></mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div style="text-align: center">
        <mat-form-field appearance="outline">
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput formControlName="newPassword" placeholder="Nouveau mot de passe" type="password">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="submitted && userForm.controls.newPassword.errors">
            <mat-error *ngIf="userForm.controls.newPassword.errors.minlength">Le mot de passe doit commprendre au moins <strong>6 caractères</strong></mat-error>
            <mat-error *ngIf="userForm.controls.newPassword.errors.required">Ce champs est <strong>requis</strong></mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div style="text-align: center">
        <button mat-button color="primary" type="submit">Appliquez le changement</button>
      </div>
    </form>
  </mat-card>
</div>
