<div class="row">
  <div class="col-md-8 offset-md-2">
    <form class="example-container" [formGroup]="projectForm" (ngSubmit)="onSubmitForm()">
      <h3>Groupe</h3>
      <mat-error *ngIf="error!=''">{{error}}</mat-error>
      <mat-form-field>
        <input matInput type="text" value="{{project.name}}" formControlName="name" placeholder="Nom du groupe">
        <mat-error *ngIf="submitted && projectForm.controls.name.errors">
          <mat-error *ngIf="projectForm.controls.name.errors.required">Le champs nom est <strong>requis</strong></mat-error>
        </mat-error>
      </mat-form-field>
      <div class="form-group" *ngFor="let group of groups; let i=index">
        <mat-checkbox color="primary" [checked]="selected(group)" [value]="group.key" (change)="onCheckChange($event)">{{group.name}} </mat-checkbox>
      </div>
      <div class="text-center">
        <button mat-button color="primary" type="submit">Enregistrer<mat-icon>check</mat-icon></button>
        <button mat-button class="text-danger" (click)="onCancel()" type="button">Annuler <mat-icon>cancel</mat-icon></button>
      </div>
    </form>
  </div>
</div>