<div class="p-2" style="height: 100%">
  <div class="m-4">
    <div class="col-md-12">
      <h4>
        Projets
        <button *ngIf="user && user.type == 'Admin'" (click)="openDialog()" class="text-light text-center float-right clearfix" style="background: #673ab7;" mat-icon-button>+</button>
      </h4>
    </div>
  </div>
  <hr>
  <mat-progress-bar mode="indeterminate" *ngIf="!loadEnd"></mat-progress-bar>
  <div class="text-center" *ngIf="!loadEnd"><span>Patientez un instant ...</span></div>
  <div class="text-center" *ngIf="error!=''"><mat-error>{{error}}</mat-error></div>
  <div class="text-center" *ngIf="isEmpty" style="height: 100%;background-image: url('../../assets/svg/project.svg'); background-position: center; background-repeat: no-repeat">
    <span>Aucun projet en cours</span>
  </div>
    <mat-card role="group" style="display: inline-block;" class="m-2" *ngFor="let project of projects; let i = index" tabindex="{{i}}">
      <mat-card-title>
        <a routerLink="/project/{{project.keyy}}">{{project.name}}</a>
        <button *ngIf="user.type == 'Admin'" class="float-right" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(project)">Modifier</button>
          <button mat-menu-item (click)="onDelete(project)">Supprimer</button>
        </mat-menu>
      </mat-card-title>
      <mat-card-content class="mb-3">
        <mat-chip-list>
          <mat-chip *ngFor="let group of project.group" (click)="onRemoveGroupProject(group, project)">{{group.name}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
</div>